<%- include('partials/head.html') %>
<body>

    <section class="car-prod">

        <% if(carrinho === undefined)  {%>
            <h1 class="Car-off">O carrinho está vazio</h1>
        <% } else { %>

            <% for(let i = 0; i < carrinho.length; i++) { %>

                <div class="card-car">
                    <div class="img-car">
                        <img src="<%=  carrinho[i].imagem %>" alt="">
                    </div>
                    <div class="info">
                        <p style="font-size: 35px; text-transform: uppercase;"><%=  carrinho[i].produto%></p>
                        <p style="text-transform: uppercase;">Quantidade: <%=  carrinho[i].quantidade %></p>
                        <p style="text-transform: uppercase;">Preço: R$: <%=  carrinho[i].preco %>.00</p>
                    </div>
                </div>
            <% } %>

        <% } %>

    </section>
</body>
</html>