<%- include('partials/head.html') %>
<body>

    <section id="para1" class="car-prod">

    </section>

    <section class="produtos">
        <h1 class="tabaria-text" style="text-align: center;">Mais vendidos</h1>
        <div class="card-p">
            <% for(let i = 0; i < produtosTop.length; i++) { %>

            <div class="card" >
                <p class="aa"><%=  produtosTop[i].nome %></p>
                <div class="img-narga">
                    <img src="<%=  produtosTop[i].imagem %>" alt="">
                </div>
                <div class="compra">
                    <p class="preco">R$: <%=  produtosTop[i].preco %>.00</p>
                    
                    <a href="/produtos/<%=  produtosTop[i].slug %>" style="text-decoration: none;">
                        <div class="bt-comprar">
                            <p>COMPRAR</p>
                        </div>
                    </a>

                    <div class="btn-add" >
                        <p style="padding: 10px;" class="btn-ouvidor" id=' { "nome": "<%=  produtosTop[i].nome %>", "slug": "<%= produtosTop[i].slug %>", "imagem": "<%=  produtosTop[i].imagem %>", "preco": <%=  produtosTop[i].preco %> }'>ADICIONAR</p>
                    </div>

                </div>
            </div>
            <% } %>
        </div>
    </section>

</section>



<script>


var carrinho = []
        var local = JSON.parse(localStorage.getItem("carrinho"))
        if(local != null){
            carrinho = local
        }

        const elementosAdd = window.document.getElementsByClassName("btn-ouvidor")
        for(var i = 0; i < elementosAdd.length; i++){
            elementosAdd[i].addEventListener("click", function(){
                var item = (JSON.parse(event.target.id))


                var data = {
                    quantidade: 1,
                    produto: item.nome,
                    preco: item.preco,
                    imagem: item.imagem,
                    slug: item.slug
                }

                function prod(pro){
                    return pro.produto === item.nome
                }

                if(carrinho.find(prod) === undefined){
                    carrinho.push(data)
                    
                    if(localStorage.hasOwnProperty("carrinho")){
                        localStorage.removeItem("carrinho")
                        localStorage.setItem("carrinho", JSON.stringify(carrinho))
                        var local = JSON.parse(localStorage.getItem("carrinho"))
                        window.location.reload()
                    } else{
                        localStorage.setItem("carrinho", JSON.stringify(carrinho))
                        var local = JSON.parse(localStorage.getItem("carrinho"))
                        window.location.reload()
                    }



                } else {
                    const produtoExQN = carrinho.find(prod).quantidade
                    const produtoNewQN = data.quantidade
                    const newValueQN = produtoExQN + produtoNewQN
                    const newValue =  { quantidade: newValueQN, produto: data.produto, preco: data.preco, imagem: data.imagem, slug: data.slug}
                    

                    function removeItem(arr, prop, value){
                        return arr.filter(function(i) {return i[prop] !== value })
                    }

                    var carrinho2 = removeItem(carrinho, 'produto', data.produto)
                    carrinho2.push(newValue)
                    carrinho = carrinho2
                    
                    localStorage.removeItem("carrinho")
                    localStorage.setItem("carrinho", JSON.stringify(carrinho))
                    var local = JSON.parse(localStorage.getItem("carrinho"))
                    window.location.reload()
                }


            })
        }


    const section = document.getElementById("para1")
    var car = JSON.parse(localStorage.getItem("carrinho"))
    if(car === null){
        section.innerHTML = '<h1 style="color: #c4c4c4">O carrinho está vazio! Adicione mais produtos!!</h1>'
    } else {
        var precoT = [];

        car.map(function(val) {
            var cont = `
            <div class="card-car">
                <div class="img-car">
                    <img src="${val.imagem}" alt="">
                </div>
                <div class="info">
                    <p style="">${val.produto}</p>
                    <p style="text-transform: uppercase;">Quantidade: ${val.quantidade}</p>
                    <p style="text-transform: uppercase;">Preço: R$: ${val.preco}.00</p>
                </div>
                <div class="delete delete-btns" id="${val.produto}">
                    <h1>DELETAR PRODUTO</h1>
                </div>
            </div>`

            section.insertAdjacentHTML('afterbegin', cont);
            var QNTprco = {total: val.quantidade * val.preco}
            precoT.push(QNTprco)
        })
            var infoG = `
                <div class="infoGerais">
                    <div class="total">
                        <h2 id="precoTotal">0</h2>
                    </div>
                    <div class="btns">
                        <div class="delete-car" onclick="DeleteCar()"><p>DELETAR CARRINHO</p></div>
                        <div class="comprar-tudo"  onclick="btnComprar()">COMPRAR TUDO</div>
                    </div>
                </div>`
            section.insertAdjacentHTML('beforeend', infoG)
        }

        function DeleteCar(){
            localStorage.removeItem("carrinho")
            window.location.reload()
        }

        var soma = 0
        for(var i = 0; i < precoT.length; i++) {
            soma += precoT[i].total;
        }

        const precoTotal = document.getElementById("precoTotal")
        precoTotal.innerHTML = `R$: ${soma}.00`

        function btnComprar(){
            var items = JSON.parse(localStorage.getItem("carrinho"))
            var msg = []

            // Juntando os elementos do array com uma vírgula como separador
            items.map((obj) =>{
                var nome = (`${obj.quantidade}  ${obj.slug}`)
                msg.push(nome)
            });
        
            const minhaString = msg.map(obj => obj).join(', ')
            var mensagem = (`https://wa.me/5516993423284?text=Olá vou querer esse(s) produto(s): ${minhaString}, com o preço total de R$:${soma}.00`)
            var item1 = mensagem.replace(/ /g, "%20")
            var item2 = item1.replace(/ã/g, "%C3%A3")
            
            var win = window.open(item2, '_blank');
            win.focus()

        }

        var produtoDeletado = document.getElementsByClassName("delete-btns")
        for(let i =0; i < produtoDeletado.length; i++){
            produtoDeletado[i].addEventListener("click", ()=> {
                var produtoDelect = produtoDeletado[i].id
                var carrinho = JSON.parse(localStorage.getItem("carrinho"))
                function prod(pro){
                    return pro.produto === produtoDelect
                }

                function removeItem(arr, prop, value){
                    return arr.filter(function(i) {return i[prop] !== value })
                }

                var carrinho2 = removeItem(carrinho, 'produto', produtoDelect)

                if(carrinho2.length === 0){
                    localStorage.removeItem("carrinho")
                    window.location.reload()
                } else {
                    localStorage.removeItem("carrinho")
                    localStorage.setItem("carrinho", JSON.stringify(carrinho2))
                    window.location.reload()
                }
            })
        }
       
    
</script>
</body>
</html>