<%- include('partials/head.html') %>
<section class="img-tabacaria">
    <div class="text-tabacaria">
        <img src="https://github.com/MiguelrSant/IMG/blob/main/7dcad465-a83e-427e-80b3-c744bfe27535%201.png?raw=true" alt="">
        <h1 class="tabaria-text">TABACARIA</h1>
        <div class="btn-whats">
            <div class="img-whats">
                <img  src="https://github.com/MiguelrSant/IMG/blob/main/whatsapp-white.png?raw=true" alt="">
            </div>
        <a href="https://wa.me/5516993423284" target="_blank" style="text-decoration: none; color: black;">
            <h3>COMPRAR</h3>
        </a>
            
        </div>
    </div>

</section>

    <section class="produtos" style="background-color: rgb(27, 27, 27);">
        <h1 class="tabaria-text"  style="text-align: center;">Mais vendidos</h1>
        <div class="card-p">
            <% for(let i = 0; i < produtosTop.length; i++) { %>

            <div class="card" style=" background-color: rgb(20, 20, 20); border-radius: 10px;">
                <p class="aa"><%=  produtosTop[i].nome %></p>
                <div class="img-narga">
                    <img src="<%=  produtosTop[i].imagem %>" alt="">
                </div>
                <div class="compra">
                    <p class="preco">R$: <%=  produtosTop[i].preco %>.00</p>
                    
                    <a href="/produtos/<%=  produtosTop[i].slug %>" style="text-decoration: none;">
                        <div class="bt-comprar">
                            <p>COMPRAR</p>
                        </div>
                    </a>

                    <div class="btn-add" >
                        <p style="padding: 10px;" class="btn-ouvidor" id=' { "nome": "<%=  produtosTop[i].nome %>", "slug": "<%= produtosTop[i].slug %>", "imagem": "<%=  produtosTop[i].imagem %>", "preco": <%=  produtosTop[i].preco %> }'>ADICIONAR</p>
                    </div>

                </div>
            </div>
            <% } %>
        </div>
    </section>

    <section class="produtos" style="background-color: rgb(27, 27, 27);">
        <h1 class="tabaria-text" style="text-align: center;">Recem adicionados</h1>
        <div class="card-p">
            <% for(let i = 0; i < novos.length; i++) { %>

            <div class="card"  style=" background-color: rgb(20, 20, 20); border-radius: 10px;">
                <p class="aa"><%=  novos[i].nome %></p>
                <div class="img-narga">
                    <img src="<%=  novos[i].imagem %>" alt="">
                </div>
                <div class="compra">
                    <p class="preco">R$: <%=  novos[i].preco %>.00</p>
                    
                    <a href="/produtos/<%=  novos[i].slug %>" style="text-decoration: none;">
                        <div class="bt-comprar">
                            <p>COMPRAR</p>
                        </div>
                    </a>

                    <div class="btn-add" >
                        <p style="padding: 10px;" class="btn-ouvidor" id=' { "nome": "<%=  novos[i].nome %>", "slug": "<%= novos[i].slug %>", "imagem": "<%=  novos[i].imagem %>", "preco": <%=  novos[i].preco %> }'>ADICIONAR</p>
                    </div>

                </div>
            </div>
            <% } %>
        </div>
    </section>

    <section class="produtos" style="background-image: url(https://github.com/MiguelrSant/IMG/blob/main/5c8e3d13-d6f2-4671-9149-f6b5c4000373.png?raw=true); background-size: cover; background-repeat: no-repeat;">
        <h1 class="tabaria-text" style="text-align: center;">Categorias</h1>
        <div class="card-p">
                <div class="card card-catgoria"  style="border: 0; background-color: rgb(31, 31, 31); border: 5px;" >
                    <a href="/categoria/narguile" style="text-decoration: none;" ></a>
                        <p class="aa" style="color: white;">Narguiles</p>
                        <div class="img-narga">
                            <img class="img-categoria" src="https://cdn.awsli.com.br/300x300/2540/2540835/produto/210301489/triton-viper-preto-en0re1dzpo.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="card card-catgoria" style="border: 0; background-color: rgb(31, 31, 31); border: 5px;">
                    <a href="/categoria/vape" style="text-decoration: none;" >
                        <p class="aa" style="color: white;">Vapes</p>
                        <div class="img-narga">
                            <img class="img-categoria" src="https://www.vapeshop.co.uk/cdn/shop/products/vaporesso-xros-mini-vape-kit-orange-red.png?height=1000&v=1671011063&width=1000" alt="">
                        </div>
                    </a>
                </div>

                <div class="card card-catgoria" style="border: 0; background-color: rgb(31, 31, 31); border: 5px;" >
                    <a href="/categoria/isqueiro" style="text-decoration: none;" >
                        <p class="aa" style="color: white;">Isqueiros</p>
                        <div class="img-narga">
                            <img class="img-categoria" src="https://images.tcdn.com.br/img/img_prod/1146433/isqueiro_hiper_2225_1_0810b881165c4d5e0f3e2348e21e1490.png" alt="">
                        </div>
                    </a>
                </div>

                <div class="card card-catgoria"  style="border: 0; background-color: rgb(31, 31, 31); border: 5px;">  
                     <a href="/categoria/carv" style="text-decoration: none;" >
                        <p class="aa" style="color: white;">Carvões</p>
                        <div class="img-narga">
                            <img class="img-categoria" src="https://tabacariasamir.com.br/loja/wp-content/uploads/2022/03/1419.jpg" alt="">
                        </div>
                    </a>
                </div>
        </div>
    </section>

    <section class="produtos" style="height: 230px;">
        <div class="text-tabacaria" >
            <h1 class="tabaria-texte" style="color: white;">Contato Whatsapp</h1>
            <div class="btn-whatss">
                <div class="img-whats">
                    <img  src="https://github.com/MiguelrSant/IMG/blob/main/whatsapp-white.png?raw=true" alt="">
                </div>
            <a href="https://wa.me/5516993423284" target="_blank" style="text-decoration: none; color: black;">
                <h3>COMPRAR</h3>
            </a>
                
            </div>
        </div>
    </section>



    <script>
         var carrinho = []
        var local = JSON.parse(localStorage.getItem("carrinho"))
        if(local != null){
            carrinho = local
        }

        const elementosAdd = window.document.getElementsByClassName("btn-ouvidor")
        for(var i = 0; i < elementosAdd.length; i++){
            elementosAdd[i].addEventListener("click", function(){
                var item = (JSON.parse(event.target.id))

                window.alert(`O produto ${item.nome} foi adicionado no carrinho`)

                var data = {
                    quantidade: 1,
                    produto: item.nome,
                    preco: item.preco,
                    imagem: item.imagem,
                    slug: item.slug
                }

                function prod(pro){
                    return pro.produto === item.nome
                }

                if(carrinho.find(prod) === undefined){
                    carrinho.push(data)
                    
                    if(localStorage.hasOwnProperty("carrinho")){
                        localStorage.removeItem("carrinho")
                        localStorage.setItem("carrinho", JSON.stringify(carrinho))
                        var local = JSON.parse(localStorage.getItem("carrinho"))
                    } else{
                        localStorage.setItem("carrinho", JSON.stringify(carrinho))
                        var local = JSON.parse(localStorage.getItem("carrinho"))
                    }



                } else {
                    const produtoExQN = carrinho.find(prod).quantidade
                    const produtoNewQN = data.quantidade
                    const newValueQN = produtoExQN + produtoNewQN
                    const newValue =  { quantidade: newValueQN, produto: data.produto, preco: data.preco, imagem: data.imagem, slug: data.slug}
                    

                    function removeItem(arr, prop, value){
                        return arr.filter(function(i) {return i[prop] !== value })
                    }

                    var carrinho2 = removeItem(carrinho, 'produto', data.produto)
                    carrinho2.push(newValue)
                    carrinho = carrinho2
                    
                    localStorage.removeItem("carrinho")
                    localStorage.setItem("carrinho", JSON.stringify(carrinho))
                    var local = JSON.parse(localStorage.getItem("carrinho"))
                }


            })
        }
      
        
    </script>
</body>
</html>