<%- include('partials/head.html') %>
<section class="img-tabacaria">
    <div class="text-tabacaria">
       
        <h1 class="tabaria-text">TABACARIA</h1>
        <div class="btn-whats">
            <div class="img-whats">
               
            </div>
        <a href="https://wa.me/5516993423284" target="_blank" style="text-decoration: none; color: black;">
            <h3>COMPRAR</h3>
        </a>
            
        </div>
    </div>

</section>
    <section class="produtos">
        <h1 class="tabaria-text">Produtos</h1>
        <div class="card-p">
            <% for(let i = 0; i < produtos.length; i++) { %>

            <div class="card">
                <p class="aa"><%=  produtos[i].nome %></p>
                <div class="img-narga">
                   
                </div>
                <div class="compra">
                    <p class="preco">R$: <%=  produtos[i].preco %>.00</p>
                    
                    <a href="/produtos/<%=  produtos[i].slug %>" style="text-decoration: none;">
                        <div class="bt-comprar">
                            <p>COMPRAR</p>
                        </div>
                    </a>
                </div>
            </div>
            <% } %>
        </div>
    </section>
</body>
</html>