$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;


@mixin responsive($device) {
    @if $device == xl {
      // For resolutions upper 1440px
      @media screen and (min-width: $container-xl) {
        @content;
      }
    } @else if $device == l {
      // For resolutions between 1140px and 1440px
      @media screen and (max-width: $container-xl) and (min-width: $container-l) {
        @content;
      }
    } @else if $device == m {
      // For resolutions between 960px and 1440px
      @media screen and (max-width: $container-l) and (min-width: $container-s) {
        @content;
      }
    } @else if $device == s {
      // For resolutions less than 960px
      @media screen and (max-width: $container-m) {
        @content;
      }
    } @else if $device == xs {
      // For resolutions less than 540px
      @media screen and (max-width: $container-s) {
        @content;
      }
    } @else if $device == a{
        // For resolutions less than 540px
        @media screen and (max-width: 663px) {
          @content;
        }
    }
    @else if $device == as{
        // For resolutions less than 540px
        @media screen and (max-width: 826px) {
          @content;
        }
    }
    @else if $device == ass{
        // For resolutions less than 540px
        @media screen and (max-width: 320px) {
          @content;
        }
    }
    @else if $device == asss{
        // For resolutions less than 540px
        @media screen and (max-width: 400px) {
          @content;
        }
    }
    @else if $device == car{
        // For resolutions less than 540px
        @media screen and (max-width: 1061px) {
          @content;
        }
    }@else if $device == car2{
        // For resolutions less than 540px
        @media screen and (max-width: 479px) {
          @content;
        }
    }
    @else if $device == car3{
        // For resolutions less than 540px
        @media screen and (max-width: 417px) {
          @content;
        }
    }@else if $device == prod1{
        // For resolutions less than 540px
        @media screen and (max-width: 450px) {
          @content;
        }
    }@else if $device == prod2{
        // For resolutions less than 540px
        @media screen and (max-width: 418px) {
          @content;
        }
    }
    
  }




*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

@font-face { 
    font-family: 'tabaco';
    src: url('./hidayatullah\ DEMO.ttf');
 }
 h1.tabaria-text{
    font-family: tabaco;
 }

body{
    background-color: #151515;
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
    height: 63px;
    z-index: 999;
    background-color: rgb(31, 31, 31);
    align-items: center;
    text-align: center;
    display: flex;
    top: 0;
}

.max-header{
    position: fixed;
    max-width: 1440px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;    
    z-index: 999;
    
    @include responsive(s){
        padding: 0 5%;

    }

    .logo{
        width: 50px;
        height: 50px;
        
        img{
            width: 50px;
            height: 50px;
        }

    }
    .carrinho  a{
        color: white;
        text-decoration: none;
        font-family: "KoHo", sans-serif;

        img{
            margin-top: 3px;
            width: 42px;
            height: 42px;
        }
    }
}

.img-tabacaria{
    height: 470px;
    max-width: 1660px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    @include responsive(s){
        height: 100%;
        max-height: 700px;
    }
    img{
     -webkit-filter: grayscale(100%); filter: grayscale(100%); filter: gray; 
     width: 100vw;
    }


    h1.tabaria-text{
        position: absolute;
        z-index: 998;
        left: 50%; 
        transform: translateX(-50%);
        top: 180px;
        color: white;
        font-size: 60px;
        opacity: 100%;
        @include responsive(s){
            font-size: 50px;
            
        }
        @include responsive(ass){
            font-size: 40px;
            
        }
    }
    .btn-whats{
        position: absolute;
        z-index: 998;
        width: 150px;
        height: 40px;
        background-color: #EEB409;
        left: 50%; 
        top: 290px;
        transform: translateX(-50%);
        border-radius: 20px;
        align-items: center;

        h3{
            position: absolute;
            top: 7px;
            left: 45px;
            text-transform: uppercase;
            font-family: "KoHo", sans-serif;
        }
        img{
            position: absolute;
            top: 7px;
            left: 13px;
            width: 27px;
            filter: brightness(10%);
        }
    }
}

section.produtos{
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    padding-bottom: 50px;

    h1{
        color: #EEB409;
        font-size: 40px;
        padding: 15px;
    }
    div.card-p{
        display: flex;
        width: 100%;
        max-width: 1440px;
        padding: 0 100px;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @include responsive(a){
            padding: 0px 3px 0 0px;
            justify-content: space-evenly;
            
        }
        .card{
            display: flex;
            flex-direction: column;
            width: 210px;
            border: 1px solid white;
            padding: 10px 0;
            color: white;
            margin-bottom: 15px;
            margin-left: 5px;

            @include responsive(prod1){
                width: 45%;
            }

            .btn-add{
                margin-left: 10px;
                width: 90%;
            }



            p.aa{
                font-family: "KoHo", sans-serif;
                text-align: center;
                font-size: 30px;
                padding: 0;
                text-transform: uppercase;
                @include responsive(xs){
                    font-size: 1.3em;
                }
            }
            div.img-narga{
                width: 100%;
                height: 110%;
                @include responsive(prod1){
                    width: 74%;
                    height: 94%;
                }

                margin: 0 auto;
                img{
                    width: 100%;
                    height: 100%;
                    max-height: 190px;
                    max-width: 190px;
                }
            }
            p.preco{
                margin-left: 10px;
                padding-top: 15px;
                padding-bottom: 5px;
                font-family: "KoHo", sans-serif;
            }
            div.bt-comprar{
                display: flex;
                width: 90%;
                height: 40px;
                background-color: #EEB409;
                color: black;
                font-family: "KoHo", sans-serif;
                font-weight: 600;
                justify-content: center;
                align-items: center;
                margin-left: 10px;

            }
        }

    }
}

section.produto-single{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    height: 525px;
    margin: 0 auto;
    padding: 0 5%;

    @include responsive(a){
        width: 100%;
        flex-direction: column;
        padding: 0 10px;
        height: 900px;
        justify-content: center;
    }

    div.single1{
        width: 450px;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include responsive(a){
            padding-top: 150px;
            margin-bottom: 50px;
            width: 100%;
        }
        div.img-single{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            @include responsive(a){
                max-width: 450px;
            }
            img{
                width: 100%;
                max-height: 450px;
                background-color: #2F2F2F;
                
            }

        }
    }
    div.single2{
        width: 450px;
        height: 450px;
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
        padding-left: 70px;
        color: white;
        @include responsive(a){
            margin-top: 20px;
            padding-left: 20px;
            width: 100%;
            height: 250px;
        }
        p.nome-single{
            font-family: "KoHo", sans-serif;
            font-size: 50px;
        }
        p.preco-single{
            font-family: "KoHo", sans-serif;
            font-size: 12px;
        }
        div.btn-single{
            user-select: none;
            cursor: pointer;
            display: flex;
            width: 140px;
            height: 40px;
            background-color: #EEB409;
            color: black;
            font-family: "KoHo", sans-serif;
            font-weight: 600;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            margin-top: 20px;
        }

    }
}
.btn-add{
    user-select: none;
    cursor: pointer;
    display: flex;
    width: 140px;
    height: 40px;
    background-color: #c4c4c4;
    color: black;
    font-family: "KoHo", sans-serif;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 20px;
    border: 0;
}
.qn{
    display: flex;
    width: 70px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 20px;
    user-select: none
}

.car-prod{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: baseline;
    align-items: center;
    padding: 0 15px;
    padding-top: 100px;
    padding-bottom: 50px;
}
.card-car{
    display: flex;  
    max-width: 700px;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    border: 1px solid rgb(194, 194, 194);
    background-color: #0c0c0c;
    padding-left: 40px;

    @include responsive(car){
        padding-left: 0;
        max-width: 700px;
        width: 100%;
    }
}

.img-car{
    width: 25%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
.info{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include responsive(car2){
        width: 45%;
    }
    p{
        font-family: "KoHo", sans-serif;
        padding-top: 7px;
        margin-left: 15px;
        color: white;
        font-size: 20px; 
        text-transform: uppercase;

        @include responsive(car2){
            font-size: 18px;
        }
        @include responsive(car3){
            font-size: 15px;
        }
    }
}
.delete{
    display: flex;
    width: 20%;
    height: 100%;
    text-align: center;
    align-items: center;
    h1{
        color: rgb(160, 57, 57);
        font-size: 15px;
        padding: 5px;
        cursor: pointer;
        @include responsive(car2){
            font-size: 13px;
        }

    }
}
.infoGerais{
    display: flex;
    max-width: 700px;
    width: 100%;
    @include responsive(car2){
        h2#precoTotal{
            font-size: 19px;
        }
    }
    
    
    .total{
        display: flex;
        width: 30%;
        align-items: center;
        h2{
            font-family: "KoHo", sans-serif;
            color: white;
            text-transform: uppercase;
            font-weight: lighter;
        }
    }
    .btns{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 70%;

        @include responsive(car2){
            font-size: 15px;
        }
        .delete-car{
            background-color: red;
            padding: 9px 5px;
            margin-right: 8px;
            border-radius: 3px;
            cursor: pointer;
            font-family: "KoHo", sans-serif;
        }
        .comprar-tudo{
            background-color: #EEB409;
            padding: 8px 5px;
            border-radius: 3px;
            cursor: pointer;
            font-family: "KoHo", sans-serif;
        }
    }
}


.form-login{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    top: 250px;
    display: flex;
    flex-direction: column;
    width: 300px;


}

.input-text{
    height: 40px;
    margin-bottom: 10px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding-left: 8px
}
.input-submit{
    border: 0;
    height: 30px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s ease;

    &:hover{
        background-color: #919191
    }
}




.header-painel{
    width: 100%;
    height: 50px;
    background-color: #111111;
    color: white;
    text-align: center;
    margin: 0 auto;
}
form.cadastro{

    margin-top: 60px;
    height: 300px;
    display: flex;
    flex-direction: column;

    .input-text-admin{
        margin: 0 auto;
        width: 500px;
        height: 40px;
        margin-bottom: 10px;
        outline: 0;
        border: 0;
        border-radius: 5px;
        padding-left: 8px
    }
    .input-submit-admin{
        margin: 0 auto;
        width: 500px;
        border: 0;
        height: 30px;
        border-radius: 5px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        transition: .5s ease;
    
        &:hover{
            background-color: #919191
        }
    }
}

.produtos{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
}

.produto-single{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    padding-top: 12px;
}

.buscador i, .buscador2 i {
    position: absolute;
    padding-left: 8px;
    top:15px;
    color:gray;
    font-size: 20px;
}

.busca{
    border: 0;
    outline: 0;
    height: 35px;
    padding-left: 35px;
    border-radius: 5px;
    width: 200px;
    color: rgb(49, 49, 49);
}


a .card-catgoria{
    width: 250px;
    height: 330px;
    background-color: rgb(31, 31, 31);
    border-radius: 7px;
    @include responsive(xs){
        width: 200px;
        height: 330px;
    }
}
.img-categoria{
    width: 180px;
    height: 260px;
}


h1.tabaria-texte{
    text-align: center;
    font-family: tabaco;
    color: white;
    font-size: 60px;
    opacity: 100%;
    @include responsive(s){
        font-size: 50px;
        
    }
    @include responsive(ass){
        font-size: 40px;
        
    }

}

.btn-whatss{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    width: 150px;
    height: 40px;
    background-color: #EEB409;

    border-radius: 20px;
    align-items: center;

    h3{
        text-transform: uppercase;
        font-family: "KoHo", sans-serif;
        margin-left:5px;
        margin-top: 1px;
    }
    img{
        width: 27px;
        filter: brightness(10%);
        margin-left: 15px;
        margin-top: 7px;
    }
}

.bx{
    display: none;
}
nav.sub-menu{
    display: none;
}


@media (max-width: 920px){
    div.carrinho{
        display: none;
    }
    .buscador{
        display: none;
    }

    .bx {
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;
    
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 57%;
            left: 12%;
            width: 75%;
            height: 2px;
            border-radius: 2px;
            background-color: rgb(255, 255, 255);
            transition: 1s ease;
          }
    
          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 33%;
            left: 12%;
            width: 75%;
            height: 2px;
            border-radius: 2px;
            background-color: rgb(255, 255, 255);
            transition: 1s ease;
          }
    }
    
    
    
    .bx-active{
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 55%;
            left: 15%;
            width: 75%;
            height: 2px;
            border-radius: 2px;
            background-color: rgb(255, 255, 255);
            transform: rotate(220deg);
            
          }
    
          &::before {
            content: '';
            display: block;
            position: absolute;
            top: 57%;
            left: 12%;
            width: 75%;
            height: 2px;
            border-radius: 2px;
            background-color: rgb(255, 255, 255);
            transform: rotate(-220deg);
          }
    }


    nav.sub-menu{
        display: block;
        z-index: 990;
        transition: .7s ease;
        position: absolute;
        top: -700px;
        width: 100%;
        height: 300px;
        background-color: rgb(31, 31, 31);
    
        .nav-menu-mobile{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            list-style: none;
    
            li{
                margin: 0 auto;
                width: 98%;
                border-bottom: 1px solid gray;
                display: flex;
                align-items: center;
    
                h2{
                    color: white;
                    margin-left: 5px;
                }
                .buscador2 {
                    padding-bottom: 7px;
                    input{
                        margin-top: 7px;
                        width: 90%;
                    }
                }
                
    
            }
        }
    }

    .sub-menu.active{
        top: 60px;
    }
}
