* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "tabaco";
  src: url("./hidayatullah DEMO.ttf");
}
h1.tabaria-text {
  font-family: tabaco;
}

body {
  background-color: #151515;
}

header {
  width: 100%;
  height: 63px;
  z-index: 999;
  background-color: rgb(31, 31, 31);
  align-items: center;
  text-align: center;
  display: flex;
}

.max-header {
  max-width: 1440px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}
@media screen and (max-width: 960px) {
  .max-header {
    padding: 0 5%;
  }
}
.max-header .logo {
  width: 50px;
  height: 50px;
}
.max-header .logo img {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 479px) {
  .max-header .logo {
    display: none;
  }
}
.max-header .carrinho a {
  color: white;
  text-decoration: none;
  font-family: "KoHo", sans-serif;
}
.max-header .carrinho a img {
  margin-top: 3px;
  width: 42px;
  height: 42px;
}

.img-tabacaria {
  height: 580px;
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 960px) {
  .img-tabacaria {
    height: 100%;
    max-height: 700px;
  }
}
.img-tabacaria img {
  filter: grayscale(100%);
  filter: gray;
  width: 100vw;
}
.img-tabacaria h1.tabaria-text {
  position: absolute;
  z-index: 998;
  left: 50%;
  transform: translateX(-50%);
  top: 180px;
  color: white;
  font-size: 60px;
  opacity: 100%;
}
@media screen and (max-width: 960px) {
  .img-tabacaria h1.tabaria-text {
    font-size: 50px;
  }
}
@media screen and (max-width: 320px) {
  .img-tabacaria h1.tabaria-text {
    font-size: 40px;
  }
}
.img-tabacaria .btn-whats {
  position: absolute;
  z-index: 998;
  width: 150px;
  height: 40px;
  background-color: #EEB409;
  left: 50%;
  top: 290px;
  transform: translateX(-50%);
  border-radius: 20px;
  align-items: center;
}
.img-tabacaria .btn-whats h3 {
  position: absolute;
  top: 7px;
  left: 45px;
  text-transform: uppercase;
  font-family: "KoHo", sans-serif;
}
.img-tabacaria .btn-whats img {
  position: absolute;
  top: 7px;
  left: 13px;
  width: 27px;
  filter: brightness(10%);
}

section.produtos {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
  padding-bottom: 50px;
}
section.produtos h1 {
  color: #EEB409;
  font-size: 40px;
  padding: 15px;
}
section.produtos div.card-p {
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 0 100px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
@media screen and (max-width: 663px) {
  section.produtos div.card-p {
    padding: 0 0px;
    justify-content: space-evenly;
  }
}
section.produtos div.card-p .card {
  display: flex;
  flex-direction: column;
  width: 210px;
  border: 1px solid white;
  padding: 10px 0;
  color: white;
  margin-bottom: 15px;
  margin-left: 5px;
}
@media screen and (max-width: 450px) {
  section.produtos div.card-p .card {
    width: 195px;
  }
}
@media screen and (max-width: 418px) {
  section.produtos div.card-p .card {
    width: 170px;
  }
}
section.produtos div.card-p .card .btn-add {
  margin-left: 10px;
}
section.produtos div.card-p .card p.aa {
  font-family: "KoHo", sans-serif;
  text-align: center;
  font-size: 30px;
  padding: 0;
  text-transform: uppercase;
}
section.produtos div.card-p .card div.img-narga {
  width: 170px;
  height: 250px;
  margin: 0 auto;
}
section.produtos div.card-p .card div.img-narga img {
  width: 180px;
  height: 260px;
}
section.produtos div.card-p .card p.preco {
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
  font-family: "KoHo", sans-serif;
}
section.produtos div.card-p .card div.bt-comprar {
  display: flex;
  width: 140px;
  height: 40px;
  background-color: #EEB409;
  color: black;
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

section.produto-single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  height: 650px;
  margin: 0 auto;
  padding: 0 5%;
}
@media screen and (max-width: 663px) {
  section.produto-single {
    width: 100%;
    flex-direction: column;
    padding: 0 10px;
    height: 900px;
    justify-content: center;
  }
}
section.produto-single div.single1 {
  width: 450px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 663px) {
  section.produto-single div.single1 {
    padding-top: 150px;
    margin-bottom: 50px;
    width: 100%;
  }
}
section.produto-single div.single1 div.img-single {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 663px) {
  section.produto-single div.single1 div.img-single {
    max-width: 450px;
  }
}
section.produto-single div.single1 div.img-single img {
  width: 100%;
  max-height: 450px;
  background-color: #2F2F2F;
}
section.produto-single div.single2 {
  width: 450px;
  height: 450px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
  padding-left: 70px;
  color: white;
}
@media screen and (max-width: 663px) {
  section.produto-single div.single2 {
    margin-top: 20px;
    padding-left: 20px;
    width: 100%;
    height: 250px;
  }
}
section.produto-single div.single2 p.nome-single {
  font-family: "KoHo", sans-serif;
  font-size: 50px;
}
section.produto-single div.single2 p.preco-single {
  font-family: "KoHo", sans-serif;
  font-size: 12px;
}
section.produto-single div.single2 div.btn-single {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  width: 140px;
  height: 40px;
  background-color: #EEB409;
  color: black;
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 20px;
}

.btn-add {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  display: flex;
  width: 140px;
  height: 40px;
  background-color: #c4c4c4;
  color: black;
  font-family: "KoHo", sans-serif;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: 20px;
  border: 0;
}

.qn {
  display: flex;
  width: 70px;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.car-prod {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: baseline;
  align-items: center;
  padding: 0 15px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.card-car {
  display: flex;
  max-width: 700px;
  width: 100%;
  height: 150px;
  margin-bottom: 15px;
  border: 1px solid rgb(194, 194, 194);
  background-color: #0c0c0c;
  padding-left: 40px;
}
@media screen and (max-width: 1061px) {
  .card-car {
    padding-left: 0;
    max-width: 700px;
    width: 100%;
  }
}

.img-car {
  width: 25%;
  height: 100%;
}
.img-car img {
  width: 100%;
  height: 100%;
}

.info {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 479px) {
  .info {
    width: 45%;
  }
}
.info p {
  font-family: "KoHo", sans-serif;
  padding-top: 7px;
  margin-left: 15px;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 479px) {
  .info p {
    font-size: 18px;
  }
}
@media screen and (max-width: 417px) {
  .info p {
    font-size: 15px;
  }
}

.delete {
  display: flex;
  width: 20%;
  height: 100%;
  text-align: center;
  align-items: center;
}
.delete h1 {
  color: rgb(160, 57, 57);
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .delete h1 {
    font-size: 13px;
  }
}

.infoGerais {
  display: flex;
  max-width: 700px;
  width: 100%;
}
@media screen and (max-width: 479px) {
  .infoGerais h2#precoTotal {
    font-size: 19px;
  }
}
.infoGerais .total {
  display: flex;
  width: 30%;
  align-items: center;
}
.infoGerais .total h2 {
  font-family: "KoHo", sans-serif;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
}
.infoGerais .btns {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 70%;
}
@media screen and (max-width: 479px) {
  .infoGerais .btns {
    font-size: 15px;
  }
}
.infoGerais .btns .delete-car {
  background-color: red;
  padding: 9px 5px;
  margin-right: 8px;
  border-radius: 3px;
  cursor: pointer;
  font-family: "KoHo", sans-serif;
}
.infoGerais .btns .comprar-tudo {
  background-color: #EEB409;
  padding: 8px 5px;
  border-radius: 3px;
  cursor: pointer;
  font-family: "KoHo", sans-serif;
}

.form-login {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 250px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input-text {
  height: 40px;
  margin-bottom: 10px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding-left: 8px;
}

.input-submit {
  border: 0;
  height: 30px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
}
.input-submit:hover {
  background-color: #919191;
}

.header-painel {
  width: 100%;
  height: 50px;
  background-color: #111111;
  color: white;
  text-align: center;
  margin: 0 auto;
}

form.cadastro {
  margin-top: 60px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
form.cadastro .input-text-admin {
  margin: 0 auto;
  width: 500px;
  height: 40px;
  margin-bottom: 10px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding-left: 8px;
}
form.cadastro .input-submit-admin {
  margin: 0 auto;
  width: 500px;
  border: 0;
  height: 30px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
}
form.cadastro .input-submit-admin:hover {
  background-color: #919191;
}

.produtos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 60px;
  justify-content: space-between;
  padding: 0 10px;
  color: white;
}

.produto-single {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 2px solid gray;
}

.busca {
  border: 0;
  outline: 0;
  height: 35px;
  padding-left: 7px;
  border-radius: 5px;
}/*# sourceMappingURL=index.css.map */